# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\historical-newpaper-topic-analysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
